.dashboardContainer {
  /* display: block; */
  width: 100%;
  height: auto;
  min-height: 100vh;
  align-items: center;
  background-color: rgba(199, 209, 216, 0.439);
}

.ticketsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  padding-top: 5rem;
  box-sizing: border-box;
}

@media (max-width: 1225px) {
  .ticketsContainer {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 768px) {
  .ticketsContainer {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .ticketsContainer {
    grid-template-columns: auto;
  }
}
