.dashboardContainer {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  /* box-shadow: 0 2px 8px solid black; */
  box-shadow: rgba(250, 252, 255, 0.2) 0px 7px 29px 0px;
}
