.card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  z-index: 3;
  max-width: 300px;
  margin: 1rem auto;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  flex-shrink: 1;
  box-shadow: rgb(241, 241, 241) 0px 2px 8px;
}
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }
}
