.cardHeader span {
  color: gray;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: flex-start;
}

.featuredButton {
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  padding: 5px 10px;
  border: 2px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featuredButton span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: gray;
}

.title {
  font-weight: bold;
}
